@import "tailwindcss";
@import "@fontsource-variable/host-grotesk";
@source inline("bg-dora-red bg-dora-sky bg-dora-pink bg-dora-yellow bg-black text-black text-white");

@theme {
  --font-sans: "Host Grotesk Variable", system-ui, sans-serif;
  --font-display: "coolvetica", system-ui, sans-serif;
  --font-mono: monospace;

  --color-dora-white: #fffcf7;
  --color-dora-sky: #0193ff;
  --color-dora-pink: #ff77e6;
  --color-dora-red: #fe2e00;
  --color-dora-yellow: #fff90d;
  --color-dora-orange: #ff5309;
  --color-dora-green: #ccffcc;
  --color-dora-violet: #ffbaa9;
  --color-dora-blue: #0768ff;

  --animate-spin: spin 15s linear infinite;
  --animate-bounce: bounce 2s linear infinite;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility p-container {
  @apply p-8 md:p-14 lg:p-20;
}

@utility px-container {
  @apply px-8 md:px-14 lg:px-20;
}

@utility px-navbar {
  @apply px-4 md:px-8 lg:px-12;
}

@utility input {
  @apply bg-dora-white block rounded-sm border-0 px-3 py-2 text-sm leading-6 text-zinc-700 shadow-sm ring-1 ring-zinc-300 transition ring-inset placeholder:text-zinc-600 hover:ring-1 hover:ring-zinc-400 hover:ring-inset focus:ring-1 focus:ring-zinc-500 focus:ring-inset disabled:bg-zinc-200 disabled:text-zinc-400 disabled:opacity-100 disabled:ring-zinc-300 motion-reduce:transition-none;
}

@utility button {
  @apply text-dora-white bg-dora-blue hover:bg-dora-blue/80 focus:ring-dora-blue/40 relative inline-flex cursor-pointer flex-row items-center justify-center rounded-full px-4.5 py-2.5 text-base font-medium shadow-sm transition-colors duration-300 ease-in-out focus:ring-2 disabled:pointer-events-none disabled:cursor-default disabled:opacity-20 aria-busy:cursor-wait aria-disabled:pointer-events-none aria-disabled:cursor-default aria-disabled:opacity-20 motion-reduce:transition-none;
}

@font-face {
  font-family: "coolvetica";
  src: url("/media/fonts/CoolveticaBk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "coolvetica";
  src: url("/media/fonts/CoolveticaRg-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
